# 3rd party
cpputest-3.7.2
ulxmlrpcpp-1.7.5

# IDE
Debug
Release
Test
*.sdf
*.opensdf
*.ipch
language.settings.xml
.metadata
RemoteSystemsTempFiles

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
